body {
    background-color: #c2dfef;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.loading-status{
    position: fixed;
    right: 0;
    bottom:5px;
    /*display:none;*/
}

.main-content{
    margin-left: auto;
    margin-right: auto;
}

div#vertical{
    display:inline-block;
    vertical-align: middle;
}
div#horizontal{
    width:100%;
}
.ui-row-editor{
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#ranks-menu-horizontal{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#ranks-menu-horizontal ul li{
    display:inline;
}
#ranks-menu-horizontal a{
    display:inline-block;
    padding:10px;
}

.create-btn{
    width:150px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 12px;
}

.create-btn:hover{
    background-color: #AFAFAF;
    cursor: pointer;
}
#centered-container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 600px;
}

input[type=submit] {
    font-size: 1.5em;
}

.panel-grid{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#table-container{
    text-align: center;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}