<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <h:outputScript library="scripts" name="common.js" />
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>
        <h:body>
            <h:outputStylesheet library="css" name="default.css"/>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <ui:insert name="header" >
                        <ui:include src="/WEB-INF/templates/header.xhtml" />
                    </ui:insert> 
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <ui:insert name="footer" >
                        <ui:include src="/WEB-INF/templates/footer.xhtml" />
                    </ui:insert>
                </p:layoutUnit>
                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <h:form>
                        <p:menu>
                            <p:submenu label="Resources">
                                <p:menuitem value="Main" action="index" update=":main-content"/>
                                <p:menuitem value="Leagues" action="leagues" update=":main-content"/>
                                <p:menuitem value="Teams" action="teams" update=":main-content"/>
                                <p:menuitem value="Players" action="players" update=":main-content"/>
                                <p:menuitem value="Tops" outcome="stats"/>
                            </p:submenu>
                        </p:menu>
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit id="main-content" position="center" styleClass="main-content">
                    <ui:insert name="content" id="content" >
                        <ui:include src="/WEB-INF/templates/content.xhtml" />
                    </ui:insert>   
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

