<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition> 
            <h:form>
                <div id="centered-container">
                    <h:commandButton class="create-btn" action="create-league" value="Create league" />
                    <h:commandButton class="create-btn" action="create-team" value="Create team" />
                    <h:commandButton class="create-btn" action="create-player" value="Create player" />
                </div>
            </h:form>
        </ui:composition>	
    </h:body>
</html>

