<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">
                <div id="table-container">
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <p:messages id="messages"/>
                        <p:panelGrid class="panel-grid" columns="2">
                            <p:outputLabel value="Game:" for="game" />
                            <p:selectOneMenu id="game" value="#{playerController.player.game}" required="true" requiredMessage="The Game field is required.">
                                <f:selectItems value="#{basicUtil.games}"/>
                                <p:ajax listener="#{playerController.selectedGameChanged(playerController.player)}" update="team,position"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="PlayedGames:" for="playedGames" />
                            <p:inputText id="playedGames" value="#{playerController.player.playedGames}" title="PlayedGames" />
                            <p:outputLabel value="LastName:" for="lastName" />
                            <p:inputText id="lastName" value="#{playerController.player.lastName}" title="LastName" required="true" requiredMessage="The LastName field is required."/>
                            <p:outputLabel value="Name:" for="name" />
                            <p:inputText id="name" value="#{playerController.player.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                            <p:outputLabel value="Position:" for="position" />
                            <p:selectOneMenu id="position" value="#{playerController.player.position}" required="true" requiredMessage="The Position field is required.">
                                <f:selectItems value="#{playerController.player.availablePositions}" var="pos" itemLabel="#{pos.name}" itemValue="#{pos}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Score:" for="score" />
                            <p:inputText id="score" value="#{playerController.player.score}" title="Score" />
                            <p:outputLabel value="Team:" for="team" />
                            <p:selectOneMenu id="team" value="#{playerController.player.team}" required="true" requiredMessage="The Team field is required.">
                                <f:selectItems value="#{playerController.player.availableTeams}" var="t" itemLabel="#{t.name}" itemValue="#{t}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                        <p:commandButton value="Save" ajax="false" action="#{playerController.save()}"/>
                        <p:link value="Cancel" outcome="players"/>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

