<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">
                <div id="table-container">
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <p:panelGrid class="panel-grid" columns="2">
                            <p:outputLabel value="Name:" for="name" />
                            <p:inputText id="name" value="#{teamController.newTeam.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                            <p:outputLabel value="PlayedGames:" for="playedGames" />
                            <p:inputText id="playedGames" value="#{teamController.newTeam.playedGames}" title="PlayedGames" />
                            <p:outputLabel for="add-league-btn" value="Add Leagues"/>
                            <p:commandButton id="add-league-btn" disabled="#{teamController.newTeam.game==null}" update=":leagues-form:" oncomplete="PF('leagues-dlg').show();" icon="ui-icon-plus"/>
                            <p:outputLabel for="gameType" value="Game"/>
                            <p:selectOneMenu id="gameType" value="#{teamController.newTeam.game}" style="width:150px">
                                <f:selectItem itemLabel="Select Game" itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{basicUtil.games}" var="selectedGame" />
                                <p:ajax listener="#{teamController.updateAvailableLeagues(teamController.newTeam)}" update="leagues-form:leagues-table,add-league-btn" process="@this" />
                            </p:selectOneMenu>
                        </p:panelGrid>
                        <p:commandButton value="Save" ajax="false" action="#{teamController.save()}"/>
                        <p:link value="Cancel" outcome="teams"/>
                    </h:form>
                </div>
                <!--Leagues dialog-->
                <p:dialog id="leagues-dialog" header="Leagues" widgetVar="leagues-dlg" height="auto" width="auto">
                    <h:form id="leagues-form">
                        <h1><h:outputText value="Leagues"/></h1>
                        <p:dataTable id="leagues-table" value="#{teamController.availableLeagues}" var="item">
                            <p:column headerText="Game">
                                <h:outputText value="#{item.game}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton value="Add" action="#{teamController.addLeague(teamController.newTeam,item)}" rendered="#{not teamController.teamHasLeague(teamController.newTeam,item)}" update="leagues-table"/>
                                <p:commandButton value="Delete" action="#{teamController.removeLeague(teamController.newTeam,item)}" rendered="#{teamController.teamHasLeague(teamController.newTeam,item)}" update="leagues-table" process="@this"/>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Close" onclick="PF('leagues-dlg').hide();"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

