<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">
                <c:set var="player" value="#{flash.keep.player}" scope="request" target="#{playerController.player}"/>
                <h:form rendered="#{player != null}">
                    <p:messages id="messages"/>
                    <h1><h:outputText value="Edit"/></h1>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Game:" for="game" />
                        <p:selectOneMenu id="game" value="#{player.game}" required="true" requiredMessage="The Game field is required.">
                            <f:selectItems value="#{basicUtil.games}" var="game" itemLabel="#{game}" itemValue="#{game}"/>
                            <p:ajax listener="#{playerController.selectedGameChanged(player)}" update="team,position"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="PlayedGames:" for="playedGames" />
                        <p:inputText id="playedGames" value="#{player.playedGames}" title="PlayedGames" />
                        <p:outputLabel value="LastName:" for="lastName" />
                        <p:inputText id="lastName" value="#{player.lastName}" title="LastName" required="true" requiredMessage="The LastName field is required."/>
                        <p:outputLabel value="Name:" for="name" />
                        <p:inputText id="name" value="#{player.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                        <p:outputLabel value="Position:" for="position" />
                        <p:selectOneMenu id="position" value="#{player.position}" required="true" requiredMessage="The Position field is required.">
                            <f:selectItems value="#{player.availablePositions}" var="pos" itemLabel="#{pos.name}" itemValue="#{pos}" />
                        </p:selectOneMenu>
                        <p:outputLabel value="Score:" for="score" />
                        <p:inputText id="score" value="#{player.score}" title="Score" />
                        <p:outputLabel value="Team:" for="team" />
                        <p:selectOneMenu id="team" value="#{player.team}" required="true" requiredMessage="The Team field is required.">
                            <f:selectItems value="#{player.availableTeams}" var="team" itemLabel="#{team.name}" itemValue="#{team}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <h:commandButton value="Save" action="#{playerController.update(player)}"/>
                    <p:link value="Cancel" outcome="players"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

