<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">
                <c:set var="league" value="#{flash.keep.league}" scope="request"/>
                <c:set var="teams" value="#{flash.keep.teams}" scope="request"/>
                <h:form rendered="#{league != null}">
                    <h1><h:outputText value="Create/Edit"/></h1>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Id:" for="id" />
                        <p:inputText id="id" readonly="true" value="#{league.id}"/>
                        <p:outputLabel value="Name:" for="name" />
                        <p:inputText id="name" value="#{league.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                        <p:outputLabel value="Game:" for="game" />
                        <p:selectOneMenu id="game" value="#{league.game}" style="width:150px">
                            <f:selectItem itemLabel="Select Game" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{basicUtil.games}" var="selectedGame" />
                            <p:ajax listener="#{leagueController.updateAvailableTeams(league)}" update="add-teams-btn,teams-form" />
                        </p:selectOneMenu>
                        <p:outputLabel for="add-teams-btn" value="Add team"/>
                        <p:commandButton id="add-teams-btn" disabled="#{league.game==null}" update="teams-form" oncomplete="PF('teams-dlg').show();" icon="ui-icon-plus"/>
                    </p:panelGrid>
                    <p:commandButton value="Save" ajax="false" action="#{leagueController.saveUpdate(league)}"/>
                    <p:link value="Canel" outcome="leagues" />
                </h:form>
                <!--Teams dialog-->
                <p:dialog id="teams-dialog" closable="true" header="Teams" widgetVar="teams-dlg" height="auto" width="auto">
                    <h:form id="teams-form">
                        <c:set var="league" value="#{league}" scope="request" />
                        <p:dataTable id="teams-table" value="#{leagueController.availableTeams.size()==0?teams:leagueController.availableTeams}" var="team">
                            <p:column headerText="Game">
                                <h:outputText  value="#{team.game}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText  value="#{team.name}"/>
                            </p:column>
                            <p:column headerText="Played Games">
                                <h:outputText  value="#{team.playedGames}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton rendered="#{not leagueController.leagueHasTeam(league,team)}" value="Add" action="#{leagueController.addTeam(league,team)}" ajax="true" update="teams-table" process="@this"/>
                                <p:commandButton rendered="#{leagueController.leagueHasTeam(league,team)}" value="Delete" action="#{leagueController.removeTeam(league,team)}" ajax="true" update="teams-table" process="@this"/>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Close" styleClass="ui-confirmdialog-no" onclick="PF('teams-dlg').hide();"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

