<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">
                <c:set var="team" value="#{flash.keep.team}" scope="request"/>
                <c:set var="leagues" value="#{flash.keep.leagues}" scope="request"/>
                <h:form rendered="#{team!=null}">
                    <p:remoteCommand name="onload" action="#{teamController.updateAvailableLeagues(team)}" autoRun="true" />
                    <h1><h:outputText value="Create/Edit"/></h1>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Id:" for="id" />
                        <p:inputText id="id" readonly="true" value="#{team.id}"/>
                        <p:outputLabel for="gameType" value="Game"/>
                        <p:selectOneMenu id="gameType" value="#{team.game}" style="width:150px">
                            <f:selectItem itemLabel="Select Game" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{basicUtil.games}" var="selectedGame" />
                            <p:ajax listener="#{teamController.updateAvailableLeagues(team)}" update=":leagues-form:leagues-table,add-league-btn" process="@this" />
                        </p:selectOneMenu>
                        <p:outputLabel value="Name:" for="name" />
                        <p:inputText id="name" value="#{team.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                        <p:outputLabel value="PlayedGames:" for="playedGames" />
                        <p:inputText id="playedGames" value="#{team.playedGames}" title="PlayedGames" />
                        <p:outputLabel for="add-league-btn" value="Add Leagues"/>
                        <p:commandButton id="add-league-btn" disabled="#{team.game==null}" update=":leagues-form:" oncomplete="PF('leagues-dlg').show();" icon="ui-icon-plus"/>
                    </p:panelGrid>
                    <p:commandButton value="Save" ajax="false" action="#{teamController.saveUpdate(team)}"/>
                    <p:link value="Cancel" outcome="teams"/>
                </h:form>
                <!--Leagues dialog-->
                <p:dialog id="leagues-dialog" header="Leagues" widgetVar="leagues-dlg" height="auto" width="auto">
                    <h:form id="leagues-form">
                        <h1><h:outputText value="Leagues"/></h1>
                        <p:dataTable id="leagues-table" value="#{teamController.availableLeagues.size()==0?leagues:teamController.availableLeagues}" var="item">
                            <p:column headerText="Game">
                                <h:outputText value="#{item.game}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton value="Add" action="#{teamController.addLeague(team,item)}" rendered="#{not teamController.teamHasLeague(team,item)}" update="leagues-table"/>
                                <p:commandButton value="Delete" action="#{teamController.removeLeague(team,item)}" rendered="#{teamController.teamHasLeague(team,item)}" update="leagues-table" process="@this"/>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Close" onclick="PF('leagues-dlg').hide();"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

