<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">	
                <h1>Leagues</h1>
                <h:form id="leagues-form">
                    <p:panel id="league-create-panel" header="League management" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:commandButton value="Create" ajax="false" action="#{leagueController.create()}" />
                            <p:commandButton value="Create Inline" disabled="#{leagueController.editInProgress}" action="#{leagueController.resetFields}" oncomplete="PF('create-dlg').show()" update=":leagues-form,:create-league-form">
                            </p:commandButton>
                        </h:panelGrid>
                    </p:panel>
                    <p:messages id="messages"/>
                    <p:dataTable id="leagues-table" value="#{leagueController.allLeagues}" var="item" rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">
                        <p:column headerText="Game">
                            <h:outputText rendered="#{not item.editable}" value="#{item.game}"/>
                            <h:selectOneMenu rendered="#{item.editable}" value="#{leagueController.selectedLeague.game}" style="width:100%">
                                <f:selectItems value="#{basicUtil.games}" var="game" itemLabel="#{game}" itemValue="#{game}" />
                                <p:ajax listener="#{leagueController.changeGame}" update="teams-form"/>                                    
                            </h:selectOneMenu>
                        </p:column>
                        <p:column headerText="Name">
                            <h:outputText rendered="#{not item.editable}" value="#{item.name}"/>
                            <h:inputText rendered="#{item.editable}" value="#{leagueController.selectedLeague.name}"/>
                        </p:column>
                        <p:column headerText="Teams">
                            <p:commandButton value="View" rendered="#{not item.editable}" disabled="#{leagueController.editInProgress}" update="teams-form" oncomplete="PF('teams-dlg').show()">
                                <f:setPropertyActionListener target="#{leagueController.selectedLeague}" value="#{item}"/>
                            </p:commandButton>
                            <p:commandButton value="Edit" action="#{leagueController.editTeams()}" rendered="#{item.editable}" disabled="#{leagueController.createDialogOpen}" update="teams-form" oncomplete="PF('teams-dlg').show()"/>
                        </p:column>
                        <p:column headerText="">
                            <p:commandButton value="Edit inline" rendered="#{not item.editable}" disabled="#{leagueController.editInProgress}" action="#{leagueController.edit()}" update="leagues-table,:leagues-form:league-create-panel">
                                <f:setPropertyActionListener target="#{leagueController.selectedLeague}" value="#{item}"/>
                            </p:commandButton>
                            <p:commandButton value="Edit" rendered="#{not item.editable}" action="#{leagueController.edit(item)}" ajax="false"/>
                            <p:commandButton value="Delete" rendered="#{not item.editable}" disabled="#{leagueController.editInProgress}" action="#{leagueController.delete(item)}" update="leagues-form" process="@this" onclick="return confirm('Are you sure you want delete?')"/>
                            <p:commandButton rendered="#{item.editable}" value="Confirm" action="#{leagueController.update()}" update="leagues-form:messages"/>
                            <p:commandButton rendered="#{item.editable}" value="Close" action="#{leagueController.cancelEdit()}" update="leagues-table,:leagues-form:league-create-panel" process="@this">
                                <p:resetInput target="leagues-table" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>

                <!--Create league dialog-->

                <p:dialog id="create-league-dialog" closable="true" header="Create League" widgetVar="create-dlg" height="auto" width="auto">
                    <p:ajax event="close" listener="#{leagueController.setCreateDialogClosed}" update="leagues-form"/>
                    <h:form id="create-league-form">
                        <h:panelGrid id="create-league-panel" columns="2" cellpadding="5"> 
                            <p:outputLabel for="name" value="Name"/>
                            <p:inputText id="name" value="#{leagueController.createLeague.name}" required="true"/>
                            <p:outputLabel for="gameType" value="Game"/>
                            <p:selectOneMenu id="gameType" value="#{leagueController.createLeague.game}" style="width:150px">
                                <f:selectItem itemLabel="Select Game" itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{basicUtil.games}" var="selectedGame" />
                                <p:ajax listener="#{leagueController.updateAvailableTeams}" update="add-teams-btn,teams-form" />
                            </p:selectOneMenu>
                            <p:outputLabel for="add-teams-btn" value="Add team"/>
                            <p:commandButton id="add-teams-btn" disabled="#{leagueController.createLeague.game==null}" update="teams-form" oncomplete="PF('teams-dlg').show();" icon="ui-icon-plus"/>
                        </h:panelGrid>
                        <p:commandButton value="Save" validateClient="true" action="#{leagueController.saveLeague}" icon="ui-icon-check" update="leagues-form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('create-dlg').hide();"/>
                        <p:commandButton value="Cancel" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"  onclick="PF('create-dlg').hide();"/>
                    </h:form>
                </p:dialog> 

                <!--Teams dialog-->
                <p:dialog id="teams-dialog" closable="true" header="Teams" widgetVar="teams-dlg" height="auto" width="auto">
                    <h:form id="teams-form">
                        <c:set var="league" value="#{leagueController.createDialogOpen?leagueController.createLeague:leagueController.selectedLeague}" scope="request" />
                        <c:set var="editable" value="#{league.editable}" scope="request" />
                        <p:dataTable id="teams-table" value="#{editable?leagueController.availableTeams:league.teams}" var="team">
                            <p:column headerText="Game">
                                <h:outputText  value="#{team.game}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText  value="#{team.name}"/>
                            </p:column>
                            <p:column headerText="Played Games">
                                <h:outputText  value="#{team.playedGames}"/>
                            </p:column>
                            <p:column rendered="#{editable}">
                                <p:commandButton rendered="#{not leagueController.leagueHasTeam(league,team)}" value="Add" action="#{leagueController.addTeam(league,team)}" ajax="true" update="teams-table" process="@this"/>
                                <p:commandButton rendered="#{leagueController.leagueHasTeam(league,team)}" value="Delete" action="#{leagueController.removeTeam(league,team)}" ajax="true" update="teams-table" process="@this"/>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Close" styleClass="ui-confirmdialog-no" onclick="PF('teams-dlg').hide();"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

