<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Players</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">	
                <h:form id="players-form">
                    <p:panel id="player-panel" header="Player management" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:commandButton value="Create" action="#{playerController.create()}" ajax="false"/>
                            <p:commandButton value="Create Inline" update="players-table" action="#{playerController.onCreate}" oncomplete="clickOn('.ui-datatable-data tr','span.ui-icon-pencil')"/>
                            <!--TODO scroll to last table row or add new record to first row-->
                        </h:panelGrid>
                    </p:panel>
                    <p:messages id="messages"/>
                    <!--<p:focus id="player-focus" context="players-table"/>-->
                    <h1><h:outputText value="Players"/></h1>
                    <p:dataTable id="players-table" value="#{playerController.allPlayers}" var="item" editable="true" rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false">
                        <p:ajax event="rowEdit" listener="#{playerController.onEditConfirm}" update=":players-form:messages,:players-form:players-table"/>
                        <p:ajax event="rowEditCancel" update=":players-form:players-table" listener="#{playerController.onEditCancel}"/>
                        <p:ajax event="rowEditInit" listener="#{playerController.onEditInit}" update="select-team,select-position"/>
                        <p:column id="game" headerText="Game">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.game}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{item.game}" style="width:100%">
                                        <f:selectItems value="#{basicUtil.games}" var="game" itemLabel="#{game}" itemValue="#{game}" />
                                        <p:ajax listener="#{playerController.selectedGameChanged(item)}" update="select-team,select-position"/>
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="last-name" headerText="Last name">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.lastName}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.lastName}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="name" headerText="Name">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.name}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.name}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="played-games" headerText="Played games">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.playedGames}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.playedGames}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="position" headerText="Position">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.position.name}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu id="select-position" value="#{item.position}" style="width:100%">
                                        <f:selectItems value="#{item.availablePositions}" var="pos" itemLabel="#{pos.name}" itemValue="#{pos}" />
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="score" headerText="Score">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.score}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.score}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="team" headerText="Team">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.team.name}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu id="select-team" value="#{item.team}" style="width:100%">
                                        <f:selectItems value="#{item.availableTeams}" var="team" itemLabel="#{team.name}" itemValue="#{team}" />
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column id="managament">
                            <p:rowEditor editTitle="Edit inline" cancelTitle="Cancel" saveTitle="Save Changes"/>
                            <p:commandButton value="Edit" action="#{playerController.edit(item)}" rendered="#{not playerController.playerIsNew(item)}" ajax="false"/>
                            <p:commandButton title="Delete" rendered="#{not playerController.playerIsNew(item)}" action="#{playerController.delete(item)}" icon="ui-icon-minus" onclick="return confirm('Are you sure you want to delete this record?')" update="players-form"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

