<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">
            <ui:define name="content">
                <h:form>
                    <nav id="ranks-menu-horizontal">
                        <ul>
                            <f:ajax render=":current-view">
                                <li id="ft-tm"><h:commandLink value="Top Football teams" action="#{statsController.setCurrentView('TEAM_FOOTBALL_10')}"/></li>            
                                <li id="bk-tm"><h:commandLink value="Top Basketball teams" action="#{statsController.setCurrentView('TEAM_BASKETBALL_10')}"/></li> 
                                <li id="ft-lg"><h:commandLink value="Top Football leagues" action="#{statsController.setCurrentView('LEAGUE_FOOTBALL_10')}" /></li>            
                                <li id="bk-lg"><h:commandLink value="Top Basketball leagues" action="#{statsController.setCurrentView('LEAGUE_BASKETBALL_10')}"/></li> 
                                <li id="ft-pl"><h:commandLink value="Top Football players" action="#{statsController.setCurrentView('PLAYER_FOOTBALL_10')}" /></li>            
                                <li id="bk-pl"><h:commandLink value="Top Basketball players" action="#{statsController.setCurrentView('PLAYER_BASKETBALL_10')}"/></li> 
                            </f:ajax>
                        </ul>
                    </nav>
                </h:form>
                <h:panelGroup id="current-view" layout="block">  
                    <ui:include  src="#{statsController.currentView}" />
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

