<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Teams</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/common.xhtml">	
            <ui:define name="content">	
                <h:form id="teams-form">
                    <p:panel id="league-create-panel" header="Teams management" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:commandButton value="Create" action="#{teamController.create()}" />
                            <p:commandButton value="Create Inline" update=":create-team-dialog,:teams-form:teams-table" actionListener="#{teamController.onCreate()}" oncomplete="PF('create-team-dlg').show()" process="@this"/>
                        </h:panelGrid>
                    </p:panel>
                    <p:messages id="messages"/>
                    <h1><h:outputText value="Teams"/></h1>
                    <p:dataTable id="teams-table" value="#{teamController.allTeams}" var="item" editable="true">
                        <p:ajax event="rowEdit" listener="#{teamController.onEditConfirm}" update=":teams-form:messages,teams-table" process="@this"/>
                        <p:ajax event="rowEditCancel" listener="#{teamController.onEditCancel}" update=":teams-form:messages" process="@this"/>
                        <p:ajax event="rowEditInit" listener="#{teamController.onEditInit}" update=":teams-form:messages" process="@this"/>
                        <p:column headerText="Game">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.game}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{item.game}" style="width:100%">
                                        <f:selectItems value="#{basicUtil.games}" var="game" itemLabel="#{game}" itemValue="#{game}" />
                                        <p:ajax listener="#{teamController.updateAvailableLeagues}" update="leagues-form"/>
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Name">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.name}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.name}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="PlayedGames">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.playedGames}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{item.playedGames}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Leagues" width="100">
                            <p:cellEditor>
                                <f:facet name="input">
                                    <p:commandButton title="Edit" disabled="#{teamController.creationInProgress}" update="leagues-form" style="width:100%" oncomplete="PF('leagues-dlg').show();" icon="ui-icon-pencil" process="@this">
                                        <f:setPropertyActionListener target="#{teamController.selectedTeam}" value="#{item}"/>
                                    </p:commandButton>
                                </f:facet>
                                <f:facet name="output">
                                    <p:commandButton title="Details" disabled="#{teamController.creationInProgress}" update="leagues-form" style="width:100%" oncomplete="PF('leagues-dlg').show();" icon="ui-icon-info" process="@this">
                                        <f:setPropertyActionListener target="#{teamController.selectedTeam}" value="#{item}"/>
                                    </p:commandButton>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column width="140">
                            <p:rowEditor editTitle="Edit" cancelTitle="Cancel" saveTitle="Save Changes"/>
                            <p:commandButton value="Edit" action="#{teamController.edit(item)}" ajax="false"/>
                            <p:commandButton title="Remove" disabled="#{teamController.creationInProgress}" action="#{teamController.delete(item)}" update="teams-form" icon="ui-icon-minus" process="@this" onclick="return confirm('Are you sure?')"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!--Leagues dialog-->
                <p:dialog id="leagues-dialog" header="Leagues" widgetVar="leagues-dlg" height="auto" width="auto">
                    <h:form id="leagues-form">
                        <h1><h:outputText value="Leagues"/></h1>
                        <p:dataTable id="leagues-table" value="#{teamController.teamEditable()?teamController.availableLeagues:teamController.selectedTeam.leagues}" var="item">
                            <p:column headerText="Game">
                                <h:outputText value="#{item.game}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column rendered="#{teamController.teamEditable()}">
                                <p:commandButton value="Add" action="#{teamController.addLeague(teamController.selectedTeam,item)}" rendered="#{not teamController.teamHasLeague(teamController.selectedTeam,item)}" update="leagues-table"/>
                                <p:commandButton value="Delete" action="#{teamController.removeLeague(teamController.selectedTeam,item)}" rendered="#{teamController.teamHasLeague(teamController.selectedTeam,item)}" update="leagues-table" process="@this"/>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Close" onclick="PF('leagues-dlg').hide();"/>
                    </h:form>
                </p:dialog>

                <!--Create team dialog-->
                <p:dialog id="create-team-dialog" header="Create team" widgetVar="create-team-dlg" height="auto" width="auto">
                    <p:ajax event="close" listener="#{teamController.cancelCreate}" update=":teams-form:teams-table"/>
                    <h:form id="create-team-form">
                        <h:panelGrid id="create-league-panel" rendered="#{teamController.newTeam!=null}" columns="2" cellpadding="5"> 
                            <p:outputLabel for="name" value="Name"/>
                            <p:inputText id="name" value="#{teamController.newTeam.name}" required="true"/>
                            <p:outputLabel for="playedGames" value="Played games"/>
                            <p:inputText id="playedGames" value="#{teamController.newTeam.playedGames}"/>
                            <p:outputLabel for="gameType" value="Game"/>
                            <p:selectOneMenu id="gameType" value="#{teamController.newTeam.game}" style="width:150px">
                                <f:selectItem itemLabel="Select Game" itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{basicUtil.games}" var="selectedGame" />
                                <p:ajax listener="#{teamController.updateAvailableLeagues}" update=":leagues-form:leagues-table,add-league-btn" process="@this" />
                            </p:selectOneMenu>
                            <p:outputLabel for="add-league-btn" value="Add Leagues"/>
                            <p:commandButton id="add-league-btn" disabled="#{teamController.newTeam.game==null}" update=":leagues-form:" oncomplete="PF('leagues-dlg').show();" icon="ui-icon-plus"/>
                        </h:panelGrid>
                        <p:commandButton value="Save" action="#{teamController.save(teamController.newTeam)}" update=":teams-form:messages,:teams-form:teams-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('create-team-dlg').hide();"/>
                        <p:commandButton value="Close" onclick="PF('create-team-dlg').hide();"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

