<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="#{statsController.viewName}"/></h1>
                <p:dataTable value="#{statsController.footballTeams}" var="item">
                    <p:column headerText="#">
                        <h:outputText value="#{item.rank}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="Leagues">
                        <p:accordionPanel activeIndex="null" multiple="true">
                            <p:tab title="">
                                <ui:repeat var="l" value="#{item.leagues.toArray()}">
                                    <h:outputText value="#{l.name}"/><br/>
                                </ui:repeat>
                            </p:tab>
                        </p:accordionPanel>
                    </p:column>
                    <p:column headerText="Average score">
                        <h:outputText value="#{item.averageScore}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </f:view>
    </h:body>
</html>

